/*Variables Style*/

//Colors
$header-text: #010101;
$header-bck: #2cb67d;
$body-bck: #16161a;
$footer-bck: #7f5af0;
$text: #fff;
$box: #94a1b2;

//Font
$main-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;